@model EmsiStudySpace.Models.Document

<div class="container mt-4">
    <h2 class="text-success">@Model.Titre</h2>
    <p>@Model.Description</p>

    <script>
        window.print();
    </script>
</div>
